<div class="container">
    <div class="row container-fluid">
        <div class="col-md-12">
			<h2>Talent Application Form</h2>
			<p class="hlabel">This application is confidential. Please contact us at talent@welinktalent.com for any questions
				regarding this form.</p>
		</div>
		<div class="col-md-12">
			<p style="color: #4D308E; font-size: larger;">Please provide atleast two references:</p>
			<p class="refereeStyle">Reference 1</p>
			<form role="form" class="form-inline" novalidate>
				<div class="col-md-6" style="margin-left: -15px;">
					<div class="form-group">
						<label for="fname" class="labelweight">First Name: </label>
						<input type="text" class="form-control betweenSpace" id="fname" style="margin-left:100px;"/>
						</div>
					<div class="form-group">
						<label for="currentCompany" class="labelweight">Current Company: </label>
						<input type="text" class="form-control betweenSpace" id="currentCompany" style="margin-left:50px;"/>
					</div>
					<div class="form-group">
						<label for="phone" class="labelweight">Mobile Phone: </label>
						<input type="text" class="form-control betweenSpace" id="phone" style="margin-left: 77px;"/>
					</div>
				</div>
				<div class="col-md-6" style="margin-left: 15px;">
					<div class="form-group">
						<label for="lname" class="labelweight">Last Name: </label>
						<input type="text" class="form-control betweenSpace" id="lname" style="margin-left: 75px;"/>
					</div>
					<div class="form-group">
						<label for="currentTitle" class="labelweight">Current Title: </label>
						<input type="text" class="form-control betweenSpace" id="currentTitle" style="margin-left:60px;"/>
					</div>
					<div class="form-group">
						<label for="email" class="labelweight">Email:</label>
						<input type="email" class="form-control betweenSpace" id="email" style="margin-left: 114px;"/>
					</div>
				</div>
				<div class="form-group">
					<label for="relation" class="labelweight">Professional relationship with the referee:</label>
					<input type="email" class="form-control betweenSpace" id="relation" style="width:491px; margin-left:40px;"/>
				</div>
				<div class="form-group">
					<label for="dateWorked" class="labelweight">When did you work together? &emsp;From&emsp;</label>
					<input type="date" class="form-control betweenSpace" id="dateWorked" style="margin-left:24px; width:210px;"/>
					<label for="dateWorked1" class="labelweight" style="margin-left: 24px;">&emsp;To:&emsp;</label>
					<input type="date" class="form-control betweenSpace" id="dateWorked1" style="margin-left:24px; width:210px;"/>
				</div>
				<div class="form-group">
					<label for="oldCompany" class="labelweight">In which company, did you work together: </label>
					<input type="text" class="form-control betweenSpace" id="oldCompany" style="margin-left:30px; width:498px;"/>
				</div>
				<div class="form-group">
					<label for="canContact" class="labelweight">Can we contact this reference?</label>
					&emsp;<p class="pWeight">&emsp;Yes&emsp;</p><input type="checkbox" id="canContact" class="cb"/>
					&emsp;<p class="pWeight">&emsp;No&emsp;</p><input type="checkbox" id="canContact" class="cb"/>
				</div>
			</form>
		</div>
		<div class="col-md-12" style="margin-top: 20px;">
			<p class="refereeStyle" style="margin-bottom:5px;">Reference 2</p>
			<form role="form" class="form-inline">
				<div class="col-md-6" style="margin-left: -15px;">
					<div class="form-group">
						<label for="fname" class="labelweight">First Name: </label>
						<input type="text" class="form-control betweenSpace" id="fname" style="margin-left: 100px;"/>
					</div>
					<div class="form-group">
						<label for="currentCompany" class="labelweight">Current Company: </label>
						<input type="text" class="form-control betweenSpace" id="currentCompany" style="margin-left:50px;"/>
					</div>
					<div class="form-group">
						<label for="phone" class="labelweight">Mobile Phone: </label>
						<input type="text" class="form-control betweenSpace" id="phone" style="margin-left: 77px;"/>
					</div>
				</div>
				<div class="col-md-6" style="margin-left: 15px;">
					<div class="form-group">
						<label for="lname" class="labelweight">Last Name: </label>
						<input type="text" class="form-control betweenSpace" id="lname" style="margin-left: 75px;"/>
					</div>
					<div class="form-group">
						<label for="currentTitle" class="labelweight">Current Title: </label>
						<input type="text" class="form-control betweenSpace" id="currentTitle" style="margin-left:60px;"/>
					</div>
					<div class="form-group">
    					<label for="email" class="labelweight">Email:</label>
						<input type="email" class="form-control betweenSpace" id="email" style="margin-left: 114px;"/>
					</div>
				</div>
				<div class="form-group">
					<label for="relation" class="labelweight">Professional relationship with the referee:</label>
					<input type="email" class="form-control betweenSpace" id="relation" style="width: 491px; margin-left:40px;"/>
				</div>
				<div class="form-group">
					<label for="dateWorked" class="labelweight">When did you work together? &emsp;From&emsp;</label>
					<input type="date" class="form-control betweenSpace" id="dateWorked" style="margin-left:24px; width:210px;"/>
					<label for="dateWorked1" class="labelweight" style="margin-left: 24px;">&emsp;To:&emsp;</label>
					<input type="date" class="form-control betweenSpace" id="dateWorked1" style="margin-left:24px; width:210px;"/>
				</div>
				<div class="form-group">
					<label for="oldCompany" class="labelweight">In which company, did you work together: </label>
					<input type="text" class="form-control betweenSpace" id="oldCompany" style="margin-left:30px; width:498px;"/>
				</div>
				<div class="form-group">
					<label for="canContact" class="labelweight">Can we contact this reference? </label>
					&emsp;<p class="pWeight">&emsp;Yes&emsp;</p><input type="checkbox" id="canContact" class="cb"/>
					&emsp;<p class="pWeight">&emsp;No&emsp;</p><input type="checkbox" id="canContact" class="cb"/>
				</div>
			</form>
		</div>
		<div class="col-md-12">
			<p class="refereeStyle" style="margin-top:20px;">Add Referee</p>
			<div class="addBtn">
				<a href="#">+</a>
			</div>
		</div>
    </div>
</div>