<div class="row">
	<div class="col-md-2">
		<img *ngIf="profile.pictureUrl" [src]="profile.pictureUrl"/>
	</div>
	<div class="col-md-10">
		<p>{{ profile.firstName }} {{ profile.lastName }}</p>
		<p>{{ profile.headline }}</p>
		<p>{{ profile.emailAddress }}</p>
	</div>
	<div class="col-md-12">
		<h3>Work history</h3>
		<ul>
			<li *ngFor="let position of profile.positions">
				<h4>{{ position.company.name }} <small>{{ position.location.name }}</small></h4>
				<p>{{ position.title }}</p>
				<p>{{ position.summary }}</p>
			</li>
		</ul>
	</div>
</div>
