h3 {
	margin-top: 0px;
	margin-bottom: 5px;
}
form {
	margin-top: 30px
}
p {
	margin-bottom: 0px;
}
ul {
	list-style: none;
	padding-left: 0px;
}
img {
	width: 120px;
}
label {
	margin-top: 10px;
}
.highlight-p {
	font-size: 1.2rem;
	font-weight: 500;
}
.form-group {
	background: #eee;
	padding-bottom: 10px;
	border-radius: 2px;
}
.position {
	margin-bottom: 20px;
}
.position-action,
.skill-action {
	margin-top: 10px;
	float: right;
}
.view {
	position: relative;
}
.edit {
	font-size: 0.85rem;
	cursor: pointer;
}
.add-btn-container {
	position: relative;
	text-align: right;
}
.add-btn-work {
	font-weight: bolder;
    font-size: xx-large;
    float: right;
    margin-top: -55px;
    margin-right: 77%;
    color: black;
}
#avatar {
	width: 140px;
	min-height: 100%;
}
#basic_profile {
	margin-bottom: 50px;
	text-align: center;
}
h2{
	color: blue;
	margin-bottom: 0;
	margin-top: -30px;
    font-weight: 600;
}
h3{
	color: blue;
	font-size: x-large;
}
.add-btn{
	font-size: xx-large;
    font-weight: bolder;
    color: black;
    margin-right: 91%;
    float: right;
    margin-top: -6%;
}
.inputPosition{
	float: right;
    margin-right: 30px;
    margin-top: -34px;
}
.inputPlace{
	float: right;
}