.image-banner{
    width: 50%;
}

.nav-list{
    list-style: none;
    padding: 0;
    width: 100%;
}

.nav-list li {
    display: inline-block;
    width: 19%;
    text-align: center;
}

.groupButton{
    margin-top: -140px;
}