form {
	margin-top: 30px
}
p {
	margin-bottom: 0px;
}
ul {
	list-style: none;
	padding-left: 0px;
}
img {
	width: 120px;
}
label {
	margin-top: 10px;
}
.highlight-p {
	font-size: 1.2rem;
	font-weight: 500;
}
.form-group {
	/*background: #eee;*/
	/*padding-bottom: 10px;*/
	border-radius: 2px;
	margin-bottom: 0px;
}
.position {
	margin-bottom: 20px;
}
.position-action,
.skill-action {
	margin-top: 10px;
	margin-bottom: 10px;
	float: right;
}
.view {
	position: relative;
}
.edit {
	font-size: 0.85rem;
	cursor: pointer;
}
.add-btn-container {
	position: relative;
	text-align: right;
}
.add-btn-work {
	font-weight: bolder;
    font-size: xx-large;
    float: right;
    margin-top: -55px;
    margin-right: 77%;
    color: black;
}
#avatar {
	width: 140px;
	min-height: 100%;
}
#basic_profile {
	margin-bottom: 50px;
	text-align: center;
}
h2{
	color: blue;
	margin-bottom: 0;
	margin-top: -30px;
    font-weight: 600;
}
h3{
	color: blue;
	font-size: x-large;
	margin-top: 0px;
	margin-bottom: 5px;
}
.add-btn{
	font-size: xx-large;
    font-weight: bolder;
    color: black;
    margin-right: 91%;
    float: right;
    margin-top: -6%;
}
.inputPosition{
	float: left;
    margin-right: 30px;
    margin-top: -65px;
}
.inputPlace{
	float: right;
}
.form-control[readonly] {
    background-color: white;
    opacity: 1;
	border-width: thin;
    border-color: gray;
}
.tableBorder td {
	border: none;
	padding-top: 2px;
	padding-bottom: 2px;
}
.sDate {
	width: 45%;
}
.eDate {
	width: 45%;
	float: right;
    margin-top: -33px;
}
.to {
	margin-left: 48.5%;
    margin-top: -33px;
}
.labelWeight {
	font-weight: bolder;
	text-align: left;
	float: left;
}
.position-display {
	margin-bottom:8px;
	width:45%;
}
.input-radio {
	border-radius: 0.25em;
	width: 1.7em;
	height: 1.7em;
}
div li {
	display: inline;
	float: left;
}
input[type=date] {
	height: 39px;
	margin: 0 auto;
	width: 100%;
}
input[type=number] {
	height: 39px;
	margin: 0 auto;
	width: 100%;
}
input[type=email] {
	height: 39px;
	margin: 0 auto;
	width: 100%;
}
