<form class="form-horizontal" novalidate [formGroup]="profileForm">
	<div class="row" id="basic_profile">
		<div id="avatar" class="col-md-12">
			<h2>Welcome!</h2>
			<fieldset>
				<img *ngIf="profile.pictureUrl" [src]="profile.pictureUrl" />
				<div class="position">
					<a href="#"  *ngIf="!edit" (click)="editMode($event, 'basic')" class="edit">Edit</a>
					<p class="highlight-p">{{ profile.firstName }} {{ profile.lastName }}</p>

					<div formArrayName="positions" *ngFor="let position of positions.controls; let i=index;" >
						<p *ngIf="i === 0">{{ position.value.title }}</p>
						<p *ngIf="i === 0">{{ position.value.company?.name }}</p>
					</div>
				</div>
			</fieldset>
		</div>
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-12">

					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label class="labelWeight" for="firstName">First Name</label>
								<input type="text" id="firstName" class="form-control" formControlName="firstName">
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label class="labelWeight" for="lastName">Last Name</label>
								<input type="text" id="lastName" class="form-control" formControlName="lastName" />
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label for="birthDate" class="labelWeight">Date of Birth </label>
								<input type="Date" class="form-control" id="birthDate" formControlName="birthDate" />
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label for="maritalStatus" class="labelWeight">Marital Status </label>
								<select type="text" class="form-control status-height" id="maritalStatus" formControlName="maritalStatus">
									<option>Single</option>
									<option>Married</option>
									<option>Divorce</option>
									<option>Separated</option>
									<option>Widowed</option>
								</select>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label for="email" class="labelWeight">Email Address </label>
								<input type="email" class="form-control" id="email" formControlName="emailAddress" />
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label for="mobile" class="labelWeight">Mobile </label>
								<input type="tel" class="form-control" id="mobile" formControlName="mobileNumber" />
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label for="NRIC" class="labelWeight">NRIC / FIN Number </label>
								<input type="text" class="form-control" id="NRIC" formControlName="NRIC" />
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label for="noOfchildren" class="labelWeight">Number of Children </label>
								<input type="number" class="form-control" id="noOfchildren" formControlName="noOfchildren" />
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label for="singaporeVisa" class="labelWeight">Visa for Singapore </label>
								<select type="text" class="form-control" id="singaporeVisa" formControlName="singaporeVisa">
									<option>Yes, I have one.</option>
									<option>No, I don't have one.</option>
								</select>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label for="visaValidity" class="labelWeight">End of validity </label>
								<input type="Date" class="form-control" id="visaValidity" formControlName="visaValidity" />
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label for="noticePeriod" class="labelWeight">Notice Period </label>
								<input type="Date" class="form-control" id="noticePeriod" formControlName="noticePeriod" />
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group listStyle">
								<label class="labelWeight">Negotiable?</label>
								<ul class="list-unstyled">
									<li *ngFor="let logicalValue of logicalValueList">
										<label class="labelWeight">&emsp;{{ logicalValue }}</label>
										<input type="radio" class="input-radio" value="{{ logicalValue }}" formControlName="noticePeriodNegotioble" />
									</li>
								</ul>
							</div>
						</div>
					</div>
					<br>

					<div class="row">
						<h3>Current Salary</h3>
					</div>

					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label for="salaryPerMonth" class="labelWeight">Base per month:</label>
								<div class="input-group">
									<select #basePerMonthCurrency (change)="onChange($event)">
										<option>SGD</option>
										<option>PHP</option>
										<option>USD</option>
										<option>EUR</option>
										<option>EGP</option>
										<option>HKD</option>
										<option>AUD</option>
										<option>BRL</option>
										<option>JPY</option>
									</select>
									<input type="number" class="form-control currency" id="salaryPerMonth" formControlName="salaryPerMonth" />
								</div>
							</div>
						</div>
						<div class="col-md-6 listStyle">
							<div class="form-group">
								<label class="labelWeight">On</label>
								<ul class="list-unstyled">
									<li *ngFor="let basis of bonusReceivable">
										<label class="labelWeight">&emsp;{{ basis }}</label>
										<input type="radio" class="input-radio" value="{{ basis }}" formControlName="salaryBasis"/>
									</li>
								</ul>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label for="bonusAmount" class="labelWeight">Bonus:</label>
								<div class="input-group">
									<select #bonusCurrency (change)="onChange($event)">
										<option>SGD</option>
										<option>PHP</option>
										<option>USD</option>
										<option>EUR</option>
										<option>EGP</option>
										<option>HKD</option>
										<option>AUD</option>
										<option>BRL</option>
										<option>JPY</option>
									</select>
									<input type="number" class="form-control currency" id="bonusAmount" formControlName="bonusAmount" />
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label for="bonusCalc" class="labelWeight">How is it calculated?</label>
								<input type="text" class="form-control" id="bonusCalc" formControlName="bonusCalc" />
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label for="allowance" class="labelWeight">Allowances:</label>
								<div class="input-group">
									<!--<span class="input-group-addon">$</span>-->
									<select #allowanceCurrency (change)="onChange($event)">
										<option>SGD</option>
										<option>PHP</option>
										<option>USD</option>
										<option>EUR</option>
										<option>EGP</option>
										<option>HKD</option>
										<option>AUD</option>
										<option>BRL</option>
										<option>JPY</option>
									</select>
									<input type="number" class="form-control currency" id="allowance" currencyMask formControlName="allowance" />
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label for="allowanceDesc" class="labelWeight">Please describe</label>
								<input type="text" class="form-control" id="allowanceDesc" formControlName="allowanceDesc" />
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label for="incentives" class="labelWeight">Any long term incentives</label>
								<input type="text" class="form-control" id="incentives" name="incentives" formControlName="incentives" />
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label for="vestingPeriod" class="labelWeight">Vesting Period</label>
								<input type="date" class="form-control" id="vestingPeriod" name="vestingPeriod" formControlName="vestingPeriod" />
							</div>
						</div>
					</div>

					<div *ngIf="edit == 'basic'" class="col-md-12">
						<div class="position-action">
							<button class="btn btn-primary" (click)="saveProfile()" [disabled]="loading">Save</button>
							<button class="btn btn-primary" (click)="cancelProfile($event)" [disabled]="loading">Cancel</button>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>


	<!--Positions-->

	<div class="row" style="padding-top: 60px;">
		<div class="col-md-12">

			<!--TODO - Implement for file upload-->
			<!--<div class="col-md-12">
				<label class="btn btn-primary btn-file inputPosition">Upload Resume
					<input type="file" style="display: none;">
				</label>
			</div>
			<input type="file" class="form-control" id="file" name="file" (change)="onFileUpload($event)" required>-->
			<!--<br>-->


			<h3>Work Experience</h3>
			<div class="add-btn-container">
				<a href="#"  *ngIf="!edit" (click)="addPosition($event)" class="add-btn-work">+</a>
			</div>
			<br>
			<!--Work experience loop-->
			<div formArrayName="positions" *ngFor="let position of positions.controls; let i=index;" class="position">
				<div [formGroupName]="i">
					<div *ngIf="edit != 'position'+i" class="view" style="padding-top: 10px;">
						<input type="text" value="{{ position.value.title }}" class="position-display" placeholder="Position" readonly />
						<input type="text" class="inputPlace" value="{{ position.value.startDate }} - {{ position.value.endDate }}" style="width:40%" placeholder="Time Period" readonly/>
						<br>
						<input type="text" value="{{position.value.company?.name}}" class="position-display" placeholder="Company" readonly />
						<br>
						<textarea class="form-control" rows="10" placeholder="Responsibilities and Achievements" readonly>{{ position.value.responsibilities }}</textarea>
						<span style="float: right">
							<a href="#" *ngIf="!edit" (click)="editMode($event, 'position'+i)">Edit</a>
								&nbsp; &nbsp;
							<a href="#" *ngIf="!edit" (click)="removePosition(i)">Remove</a>
						</span>
					</div>

					<div *ngIf="edit == 'position'+i" class="form-group clearfix">
						<label class="col-md-12 control-label" attr.for="{{ 'title' + i }}">Title</label>
						<div class="col-md-12">
							<input type="text" id="{{ 'title' + i }}" class="form-control" placeholder="e.g. Software Engineer" formControlName="title">
						</div>

						<label class="col-md-12 control-label" attr.for="{{ 'company' + i }}">Company</label>
						<div formGroupName="company" class="col-md-12">
							<input type="text" id="{{ 'company' + i }}" class="form-control" placeholder="e.g. WeLink Talent" formControlName="name">
						</div>

						<label class="col-md-12 control-label">Time Period</label>
						<div class="col-md-12">
							<input type="month" id="{{ 'startDate' + i }}" class="form-control sDate" formControlName="startDate">
							<p class="to">TO</p>
							<input type="month" id="{{ 'endDate' + i }}" class="form-control eDate" formControlName="endDate">
						</div>

						<label class="col-md-12 control-label">Responsibilities</label>
						<div class="col-md-12">
							<textarea rows="3" class="form-control" placeholder="Responsibilities and Achievements"
							 formControlName="responsibilities" value="{{ position.value?.responsibilities }}"></textarea>
						</div>

						<div class="col-md-12">
							<div class="position-action">
								<button class="btn btn-primary" (click)="savePosition(i)" [disabled]="loading">Save</button>
								<button class="btn btn-primary" (click)="cancelPosition($event, i)" [disabled]="loading">Cancel</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<br>
		<div class="col-md-12">
			<h3>Skills</h3>
			<div class="add-btn-container">
				<a href="#"  *ngIf="!edit" (click)="addSkill($event)" class="add-btn">+</a>
			</div>
			<br>
			<table class="table tableBorder" border="1" style="border-color: lightgrey;">
				<tbody>
					<tr>
						<div formArrayName="skills" *ngFor="let skill of skills.controls; let i=index;" class="skill">
							<div [formGroupName]="i">
								<td>
									<div *ngIf="edit != 'skill'+i">
										<span>{{skill.value.name}}
											<a href="#" *ngIf="!edit"  class="" (click)="removeSkill(i)">Remove</a>
										</span>
									</div>
								</td>

								<div *ngIf="edit == 'skill'+i" class="form-group clearfix">
									<label class="col-md-12 control-label" attr.for="{{ 'skill' + i }}">Skill Name</label>
									<div class="col-md-12">
										<input type="text" id="{{ 'skill' + i }}" class="form-control" formControlName="name">
									</div>
									<div class="col-md-12">
										<div class="skill-action">
											<button class="btn btn-primary" (click)="saveSkill(i)" [disabled]="loading">Add</button>
											<button class="btn btn-primary" (click)="cancelSkill($event, i)" [disabled]="loading">Cancel</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</form>
