/* You can add global styles to this file, and also import other style files */

html {
	height: 100%;
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	position: relative;
	margin: 0;
	padding-bottom: 6rem;
	min-height: 100%;
}

footer {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 1rem;
}

@media (min-width: 1200px) {
	.container {
		width: 960px;
	}
}

textarea {
	resize: none;
}

.purple-color {
	color: #57148D;
}

.red-color {
	color: red;
}

.gray-color {
	color: #58595b;
}

.white-color {
	color: #FFF;
}

.btn {
	cursor: pointer;
}
/*.ng-valid[required], .ng-valid.required {
	border-left: 5px solid #42A948; !* green *!
}

.ng-invalid:not(form) {
	border-left: 5px solid #a94442; !* red *!
}*/
