/* You can add global styles to this file, and also import other style files */

html {
	height: 100%;
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	position: relative;
	margin: 0;
	padding-bottom: 6rem;
	min-height: 100%;
}

footer {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 1rem;
}

@media (min-width: 1200px) {
	.container {
		width: 960px;
	}
}

textarea {
	resize: none;
}

.purple-color {
	color: #57148D;
}

.red-color {
	color: red;
}

.gray-color {
	color: #58595b;
}

.white-color {
	color: #FFF;
}

.light-gray-background {
	background: lightgray;
}

.btn {
	cursor: pointer;
	border-radius: 0;
}
/*.ng-valid[required], .ng-valid.required {
	border-left: 5px solid #42A948; !* green *!
}

.ng-invalid:not(form) {
	border-left: 5px solid #a94442; !* red *!
}*/
.width_10 { width: 10px; }
.width_20 { width: 20px; }
.width_30 { width: 30px; }
.width_40 { width: 40px; }
.width_50 { width: 50px; }
.width_60 { width: 60px; }
.width_70 { width: 70px; }
.width_80 { width: 80px; }
.width_90 { width: 90px; }
.width_100 { width: 100px; }
.width_110 { width: 110px; }
.width_120 { width: 120px; }
.width_130 { width: 130px; }
.width_140 { width: 140px; }
.width_150 { width: 150px; }
.width_160 { width: 160px; }
.width_170 { width: 170px; }
.width_180 { width: 180px; }
.width_190 { width: 190px; }
.width_200 { width: 200px; }
.width_250 { width: 250px; }
.width_300 { width: 300px; }
.word-wrap {
	word-wrap: break-word;
}
input[type=date] {
	height: 39px;
	margin: 0 auto;
	width: 100%;
}
input[type=number] {
	height: 39px;
	margin: 0 auto;
	width: 100%;
}
input[type=email] {
	height: 39px;
	margin: 0 auto;
	width: 100%;
}
input[type=radio] {
	cursor: pointer;
	width: 1.2em;
	height: 1.2em;
}
input[type=checkbox] {
	cursor: pointer;
	width: 1.2em;
	height: 1.2em;
}
